/* RESET */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  --checked-bg: #404bbf;
  --checked-fill: #f4f4fd;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* COMMON */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* HEADER */

/* HERO */
.hero-section {
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-10.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  margin: 0 auto 48px;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* SECTION TITLES */
.approach-title-section,
.team-title-main,
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* APPROACH SECTION */
.approach-list {
  display: flex;
  gap: 24px;
}

.approach-item {
  width: calc((100% - 72px) / 4);
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 100%;
  height: 112px;
  background-color: #f4f4fd;
}

.approach-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.approach-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

/* TEAM SECTION */
.team-section {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-item img {
  display: block;
  width: 100%;
  height: auto;
}

.team-div {
  padding: 32px 0;
  text-align: center;
}

.icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon-soc {
  fill: #f4f4fd;
}

/* PORTFOLIO SECTION */
.portfolio-section {
  background-color: #ffffff;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  background-color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.portfolio-item img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-div {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-im-div {
  position: relative;
  overflow: hidden;
}

.blue-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .blue-overlay {
  /* При hover — піднімається вгору */
  transform: translateY(0);
}

/* FOOTER */
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-info-div {
  max-width: 264px;
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* Socials */
.social-par {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-footer .icons-list {
  display: flex;
  gap: 16px;
}

.page-footer .icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer .icon-link:hover,
.page-footer .icon-link:focus {
  background-color: #31d0aa;
}

.icon-soc {
  fill: #f4f4fd;
}

/* FORM */

.footer-form {
  display: flex;
  gap: 24px;
  align-items: center;
}

.footer-form-wrapper {
  margin-left: auto;
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn {
  fill: #fff;
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}

.footer-input {
  padding-left: 16px;
  font-size: 12px;
  letter-spacing: 0.04em;

  line-height: 2;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  outline: none;
  color: #fff;

  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-input:focus::placeholder {
  color: transparent; /* hides the placeholder text */
}

.footer-input:focus {
  border-color: #fff;
  outline: none;
  box-shadow: none;
}

.subs-icon {
  margin-left: 16px;
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12),
    0 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.close-modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e7e9fc;

  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-modal-btn:hover svg,
.close-modal-btn:focus svg {
  fill: #fff;
}

.modal-par {
  margin-bottom: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #2e2f42;
}

.form-field {
  margin-bottom: 8px;
}

.form-field-bottom {
  margin-bottom: 16px;
}

.form-label {
  display: block;
  font-weight: 400;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.input-wrapper {
  display: block;
  position: relative;
  margin-bottom: 8px;
  line-height: 1.17;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  bottom: 8px;
  width: 18px;
  height: 24px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + svg {
  fill: #4d5ae5;
}

.text-area {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 8px 16px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
}

.text-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.text-area:focus {
  border-color: #4d5ae5;
  outline: none;
}

.checkbox-input.visually-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.check-container {
  margin-bottom: 24px;
}

.check-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: #fff;
  fill: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox svg {
  width: 10px;
  height: 8px;
  fill: #fff;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.checkbox-input:checked + label > .custom-checkbox {
  background-color: var(--checked-bg);
  border: none;
  fill: var(--checked-fill);
}

.checkbox-input:checked + label > .custom-checkbox svg {
  fill: var(--checked-fill);
  opacity: 1;
}

.policy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.hero-btn.modal-send-btn {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  padding: 0;
  padding: 16px 32px;
  border-radius: 4px;

  width: 169px;
  height: 56px;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn.modal-send-btn:hover,
.hero-btn.modal-send-btn:focus {
  background-color: #404bbf;
  border: none;
}
